@import "/src/variables.scss";
$blue-color: #4C3DB2;

%btn {
    width: 175px;
    height: 45px;
    font-family: $mont-serrat-font;
    font-size: 10px;
    font-weight: bold;
    color: $blue-color;
    background-color: transparent;
    border: 1px solid $blue-color;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $blue-color;
        color: white;
    }
}