.promo-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 840px;
    border: 2px dotted black;

    .banner {
        width: 1120px;
        height: 702px;
        background-image: url("/src/assets/promo/banner1.svg");
        background-position: center;
        cursor: pointer;
    }

    .banner-selector {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .selector-item {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: lightgray;
            cursor: pointer;
        }
    }
}