@import "/src/variables.scss";

.promo-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 840px;

    .banner {
        object-fit: cover;
        cursor: pointer;
    }

    %mini-promo {
        position: absolute;
        box-shadow: 1px 37px 24px -16px rgba(158, 161, 163, 0.37);
        cursor: pointer;
    }

    .change-book {
        @extend %mini-promo;
        top: 195px;
        right: 200px;
        width: 150px;
        height: 205px;
        background-image: url("/src/assets/promo/change_book.svg");
    }

    .top-books {
        @extend %mini-promo;
        top: 475px;
        right: 150px;
        width: 160px;
        height: 275px;
        background-image: url("/src/assets/promo/top_books.svg");
    }

    .banner-selector {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .selector-item {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $light-grey-color;
            cursor: pointer;
        }

        .selector-item:nth-of-type(1) {
            background-color: $violet-color;
        }
    }
}