$active-selector-item-color: #9E98DC;
$inactive-selector-item-color: #EFEEF6;

.promo-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 840px;

    .banner {
        width: 1120px;
        height: 690px;
        background-image: url("/src/assets/promo/banner1.svg");
        background-position: center;
        cursor: pointer;
    }

    .banner-selector {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .selector-item {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $inactive-selector-item-color;
            cursor: pointer;
        }

        .selector-item:nth-of-type(1) {
            background-color: $active-selector-item-color;
        }
    }
}