@import "/src/variables.scss";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 160px;
    height: 116px;
    font-family: $mont-serrat-font;

    .logo {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0;
        font-size: 10px;
        font-weight: bold;
        list-style: none;

        .nav-list-item {
            color: $grey-color;
            cursor: pointer;
            transition: $hover-transition;

            &:hover {
                color: $black-color;
            }
        }

        .nav-list-item:nth-of-type(1) {
            color: $black-color;
            cursor: pointer;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        gap: 40px;

        %button {
            width: 17px;
            height: 17px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .user {
            @extend %button;
            background-image: url("/src/assets/header/user.svg");
        }

        .search {
            @extend %button;
            background-image: url("/src/assets/header/search.svg");
        }

        .shop-bag-container {
            .shop-bag {
                    @extend %button;
                    background-image: url("/src/assets/header/shop_bag.svg");
                }
            
                .shop-bag-counter {
                    position: relative;
                    bottom: 8px;
                    left: 6px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 13px;
                    height: 13px;
                    font-family: $mont-serrat-font;
                    font-size: 10px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                }
        }
    }
}