@import "/src/variables.scss";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 160px;
    height: 116px;
    font-family: $mont-serrat-font;

    .logo {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        list-style: none;

        .nav-list-item {
            cursor: pointer;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        gap: 40px;

        %button {
            width: 17px;
            height: 17px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .user {
            @extend %button;
            background-image: url("/src/assets/header/user.svg");
        }

        .search {
            @extend %button;
            background-image: url("/src/assets/header/search.svg");
        }

        .shop-bag {
            @extend %button;
            background-image: url("/src/assets/header/shop_bag.svg");
        }
    }
}