$mont-serrat-font: "Montserrat", sans-serif;
$open-sans-font: "Open Sans", sans-serif;
$grey-color: #5C6A79;
$black-color: #1C2A39;
$violet-color: #9E98DC;
$light-grey-color: #EFEEF6;
$hover-transition: background-color 0.3s ease, color 0.3s ease;